body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    /* Las siguientes líneas centran el contenido */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    min-height: 100vh;       /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0;
}

.login-container {
    text-align: center;
    /* Flexbox permite centrar los elementos hijos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%; /* Hace que sea más responsivo en pantallas pequeñas */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-wrapper {
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex-grow: 1;
}

.toggle-password {
    background-color: #ddd;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
}

.login-button {
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.forgot-password {
    display: block;
    margin-top: 15px;
    color: #e53935;
    font-size: 14px;
    text-decoration: none;
}

.forgot-password i {
    margin-right: 5px;
}

.create-account-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}